*{
    margin: 0;
    padding: 0;
    font-family: 'VALORANT', sans-serif;
    box-sizing: border-box;
}
.plate{
    background: url (home-bg.gif);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.buttons{
  display: inline-block;
}
.btn {
   padding: 5px 20px;
   font-size: 16px;
   cursor: pointer;
   margin: 14px;
   border-color: 2px white;
  }
  .gameinfo {
    border: 1px solid;
    text-decoration: none;
    background-color: transparent;
    color: white;
    transition: 0.6s ease;
    border-radius: 20px ;
    
    
  }
  
  .gameinfo:hover {
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 hsla(0, 100%, 100%, 0.834), 0 17px 50px 0 rgba(255, 255, 255, 0.807);
  }

  .maps {
    border: 1px solid;
    text-decoration: none;
    background-color: transparent;
    color: white;
    transition: 0.6s ease;
    border-radius: 20px ;
    position: absolute;
    left: 450px;
    top: 18px;
  
  }
  
  .maps:hover {
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 hsla(0, 100%, 100%, 0.834), 0 17px 50px 0 rgba(255, 255, 255, 0.807);
  }
  
  .agents {
    border: 1px solid;
    text-decoration: none;
    background-color: transparent;
    color: white;
    transition: 0.6s ease;
    border-radius: 20px ;
    position: absolute;
    left: 585px;
    top: 18px;
  
  }
  
  .agents:hover {
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 hsla(0, 100%, 100%, 0.834), 0 17px 50px 0 rgba(255, 255, 255, 0.807);
  }

  .guides {
    border: 1px solid;
    text-decoration: none;
    background-color: transparent;
    color: white;
    transition: 0.6s ease;
    border-radius: 20px ;
    position: absolute;
    left: 735px;
    top: 18px;
  }
  
  .guides:hover {
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 hsla(0, 100%, 100%, 0.834), 0 17px 50px 0 rgba(255, 255, 255, 0.807);
  }
  
  .home {
    border: 1px solid;
    text-decoration: none;
    background-color: transparent;
    color: white;
    transition: 0.6s ease;
    border-radius: 20px ;
    position: absolute;
    left: 890px;
    top: 18px;
    
  }
  
  .home:hover {
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 hsla(0, 100%, 100%, 0.834), 0 17px 50px 0 rgba(255, 255, 255, 0.807);
  }
.logo img{
    float: left;
    width: 170px;
    height: auto;
}
.logo2 img{
    width: 100px;
    height: auto;
    float: left;
}
.main{
    max-width: 1000px;
    margin: auto;
}
.content{
    text-align: center;
}
.content h4{
  font-size: 12px;
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.content h1{
    font-size: 230px;
    color: white;
    font-weight: 500;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;

}

.content h2{
    font-size: 90px;
    color: rgb(199, 106, 106);
    font-weight: 400;
    transition: 0.5s;
}
.content h2:hover{
    -webkit-text-stroke: 2px rgb(199, 106, 106);
    color: transparent;
}
.search-container{
    float: right;
}
input[type=text]{
    width: 430px;
    padding: 15px;
    margin-top: 13px;
    font-size: 10px;
    border: none;
    border-radius: 30px;
    position: absolute;
    left: 1050px;
    top: 14px;
}
.search-container button{
    float: right;
    padding: 11px 10px;
    margin-top: 10px;
    margin-right: 10px;
    background: #314507;
    color: white;
    font-size: 17px;
    border-radius: 40px;
    position: absolute;
    left: 1445px;
    top: 16px;
}
